.Contact {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 80px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 1250px;
  transition: 0.5s;
}
.Contact .Page_Title {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  margin: auto;
  margin-top: 100px;
}
.Contact .Contact_Form {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 20px;
  width: 900px;
}
.Contact .Contact_Form .Input {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 20px;
  width: 50%;
  border: none;
  background-color: #2b2b2b;
  outline: none;
  color: white;
  font-size: 18px;
}
.Contact .Contact_Form .Input::-webkit-input-placeholder {
  font-size: 16px;
  color: #e3b261;
}
.Contact .Contact_Form .Name__Email {
  border: none;
  display: flex;
  gap: 10px;
}
.Contact .Contact_Form .Subject__Message {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Contact .Contact_Form .Subject__Message .Subject,
.Contact .Contact_Form .Subject__Message .Message_Box {
  width: 100%;
}
.Contact .Contact_Form .Subject__Message .Message-Box::-webkit-input-placeholder {
  font-size: 18px;
}
.Contact .Contact_Form .Contact_Button {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  color: #319795;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  transition: 0.5s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.Contact .Contact_Implore_Box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 30px;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 200px;
}
.Contact .Contact_Implore_Box .Section_Title {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.Contact .Contact_Implore_Box .Section_Description {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 200;
  text-align: center;
  transition: 0.5s;
}
.Contact .Contact_Implore_Box .Button_Container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.Contact .Contact_Implore_Box .Button_Container .Contact_Button {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  transition: 0.5s;
}
.Contact .Contact_Implore_Box .Button_Container .Discord__Button {
  background-color: rgba(0, 0, 0, 0.4);
  color: #2c7a7b;
}
.Contact .Contact_Implore_Box .Button_Container .Contact__Button {
  background-color: rgba(0, 0, 0, 0.4);
  color: #e3b261;
}

@media only screen and (max-width: 1250px) {
  .Contact {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .Contact .Contact_Form {
    width: 100%;
  }
}
@media only screen and (max-width: 550px) {
  .Contact .Contact_Form .Name__Email {
    flex-direction: column;
  }
  .Contact .Contact_Form .Name__Email .Input {
    width: 100%;
  }
}/*# sourceMappingURL=Contact.module.css.map */