.Nav {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  display: flex;

  padding: 5px;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0px;

  height: fit-content;
  width: 1250px;

  z-index: 100;

  .Left_Side {
    display: flex;

    padding: 5px;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    .Logo_Container {
      box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
      border: 2px solid #e3b261;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transition: 0.5s;

      .Logo {
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
          rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
          rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        height: 100%;
        width: 100%;
        margin: auto;
        object-fit: cover;
        transition: 0.5s;
      }
    }

    .Brand {
      color: #e3b261;
      font-family: "Nunito", sans-serif;
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
      //   animation: flicker 1.5s infinite alternate;
    }
  }

  .Right_Side {
    display: flex;

    padding: 5px;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    .Navlink_Container {
      display: flex;

      padding: 5px;
      gap: 20px;
      justify-content: space-between;
      align-items: center;

      .NavItem {
        display: flex;
        justify-content: center;
        align-items: center;
        .Navlink {
          color: white;
          font-family: "Nunito", sans-serif;
          font-size: 15px;
          font-weight: 200;
        }

        .NavIcon {
          color: #e3b261;
          display: flex;
          margin: auto;
        }

        .Navlink:hover {
          border-bottom: 1px solid rgb(255, 122, 0);
        }

        .Navlink:active {
          border-bottom: 1px solid rgb(255, 122, 0);
        }
      }
    }

    .Menu_Icon {
      color: white;
      border: 1px solid rgba(240, 231, 219, 0.5);
      border-radius: 3px;
      padding: 3px;
      display: none;
      width: 30px;
      transform: rotateY(180deg);
      cursor: pointer;
      transition: 0.5s;
    }

    .Menu_Icon:hover {
      border: 1px solid rgb(255, 122, 0, 0.5);
      color: black;
      background-color: white;
    }

    .Menu_Icon:active {
      border: 1px solid rgb(255, 122, 0, 0.5);
    }
  }

  .Mobile_Menu {
    background-color: rgba(196, 196, 196, 0.3);

    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0px;
    left: 0px;
    overflow-y: scroll;

    justify-content: center;
    align-items: left;

    height: fit-content;
    width: 100%;

    z-index: 110;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    transform: translateX(-100%);

    display: none;

    ::-webkit-scrollbar {
      display: none;
    }

    .Content_Container {
      box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
      background-color: rgb(26, 26, 27);

      display: flex;
      flex-direction: column;

      gap: 20px;

      height: 100vh;
      width: 350px;

      .Header {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
        display: flex;

        padding: 5px;
        position: relative;

        justify-content: space-between;
        align-items: center;

        z-index: 150;

        .Menu_Left_Side {
          display: flex;

          padding: 5px;
          gap: 20px;
          justify-content: space-between;
          align-items: center;

          .Logo_Container {
            box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
              rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
              rgba(0, 0, 0, 0.09) 0px 16px 8px,
              rgba(0, 0, 0, 0.09) 0px 32px 16px;
            border: 2px solid rgb(255, 122, 0);
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            transition: 0.5s;

            .Logo {
              box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
                rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
                rgba(0, 0, 0, 0.09) 0px 16px 8px,
                rgba(0, 0, 0, 0.09) 0px 32px 16px;
              height: 100%;
              width: 100%;
              margin: auto;
              object-fit: cover;
              transition: 0.5s;
            }
          }

          .Brand {
            color: #e3b261;
            font-family: sans-serif;
            font-size: 20px;
            font-weight: 400;
            //   animation: flicker 1.5s infinite alternate;
          }
        }

        .Close_Icon {
          color: white;

          position: absolute;
          right: -80px;
          cursor: pointer;
          transition: 0.5s;
        }

        .Close_Icon:hover {
          box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
        }
      }

      .Mobile_Navlink_Container {
        display: flex;
        flex-direction: column;

        gap: 15px;

        justify-content: space-evenly;

        .Menu_NavItem {
          display: flex;

          padding: 5px;
          gap: 15px;

          align-items: center;

          height: 100%;
          width: 100%;

          color: white;
          font-family: "Nunito", sans-serif;
          font-size: 18px;
          font-weight: 200;

          transition: 0.5s;

          .Navlink_Icon {
            color: #e3b261;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
          }

          p:hover {
            border-bottom: 1px solid rgb(255, 122, 0);
            // -180px 0px 0px 1px inset
          }

          .Accordion {
            box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
            background-color: rgb(26, 26, 27);
            color: white;

            .Accordion_Title {
              display: flex;
              .Discord_Link {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
              }

              .Discord_Icon {
                // display: flex;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
                margin: auto;
                width: 20px;
              }
            }

            .Code_Runners_Description {
              color: white;
              font-family: "Nunito", sans-serif;
              font-size: 14px;
              font-style: italic;
              font-weight: 100;

              display: flex;
              flex-direction: column;

              .Discord_Link {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
              }

              .Discord_Icon {
                // display: flex;
                margin: auto;
                width: 20px;
              }
            }
          }
        }

        .Menu_NavItem:hover {
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
            rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }
      }

      .Menu_Separater {
        border: 1px solid rgb(255, 122, 0);
        width: 100%;
      }

      .Weblink_Container {
        background-color: rgb(26, 26, 27);
        display: flex;
        flex-direction: column;

        padding: 5px;
        gap: 10px;

        justify-content: space-evenly;

        .Title {
          color: white;
          font-family: sans-serif;
          font-size: 18px;
          font-weight: 400;
        }

        .Weblink_Item {
          display: flex;

          padding: 5px;
          gap: 15px;

          align-items: center;

          height: 100%;
          width: 100%;

          color: #2c7a7b;
          font-family: "Nunito", sans-serif;
          font-size: 15px;
          font-weight: 400;

          .Weblink_Icon {
            color: rgb(160, 203, 220);
            box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
          }
        }
      }
    }
  }
  /* width */
  ::-webkit-scrollbar {
    width: 0px;
  }

  // /* Track */
  // ::-webkit-scrollbar-track {
  //   background: #f1f1f1;
  // }

  // /* Handle */
  // ::-webkit-scrollbar-thumb {
  //   background: #888;
  // }

  .ShowMenu {
    transform: translateX(0%);
  }
}

// Logo Hover Effect Start
.Nav:hover {
  .Left_Side {
    .Logo_Container {
      border: 2px solid rgb(242, 4, 7);
      .Logo {
        transform: scale(1.1);
      }
    }
  }
}
// Logo Hover Effect End

// Media Queries Start

@media only screen and (max-width: 1200px) {
  .Nav {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .Nav {
    .Left_Side {
      .Brand {
        display: none;
      }
    }

    .Right_Side {
      .Navlink_Container {
        display: none;
      }
      .Menu_Icon {
        display: block;
      }
    }
    .Mobile_Menu {
      display: flex;
    }
  }
}

@media only screen and (max-width: 440px) {
  .Nav {
    .Mobile_Menu {
      .Content_Container {
        width: 100%;
        .Header {
          .Close_Icon {
            right: 10px;
          }
        }
      }
    }
  }
}

// Media Queries End

// Keyframes Start

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    border: 0 0 7px #f20407, 0 0 10px #f20407, 0 0 21px #f20407,
      0 0 42px #ff7a00, 0 0 82px #ff7a00, 0 0 92px #ff7a00, 0 0 102px #ff7a00,
      0 0 151px #ff7a00;
  }
  20%,
  24%,
  55% {
    border: none;
  }
}

// Keyframes End
