.Landing {
  display: flex;
  flex-direction: column;

  padding: 5px;
  gap: 80px;

  justify-content: center;
  align-items: center;

  height: 100%;
  width: 1250px;

  transition: 0.5s;

  .Contact_Implore_Box {
    display: flex;
    flex-direction: column;

    padding: 5px;
    gap: 30px;

    justify-content: space-evenly;
    align-items: center;

    height: 100%;
    width: fit-content;

    .Section_Title {
      color: white;
      font-family: "Nunito", sans-serif;
      font-size: 30px;
      font-weight: 300;
  
      text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1);
      transition: 0.5s;
    }

    .Section_Description {
      color: white;
      font-family: "Nunito", sans-serif;
      font-size: 18px;
      font-style: italic;
      font-weight: 200;
      text-align: center;
  
      transition: 0.5s;
    }

    .Button_Container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .Contact_Button {
        padding: 5px;
        border: 1px solid white;
        border-radius: 5px;
      }
    }
  }
}

// Media Queries Start

@media only screen and (max-width: 1250px) {
  .Landing {
    width: 100%;
  }
}

// Media Queries End
